{
  "graph": "/data/docker",
  "storage-driver": "overlay2",
  "insecure-registries": [
    "registry.access.redhat.com",
    "quay.io",
    "harbor.od.com",
    "registry.docker-cn.com",
    "docker.mirrors.ustc.edu.cn"
  ],
  "registry-mirrors": [
    "https://q2gr04ke.mirror.aliyuncs.com",
    "http://ovfftd6p.mirror.aliyuncs.com",
    "http://registry.docker-cn.com",
    "http://docker.mirrors.ustc.edu.cn",
    "http://hub-mirror.c.163.com"
  ],
  "bip": "172.7.{{ last_num_of_ip }}.1/24",
  "exec-opts": ["native.cgroupdriver=systemd"],
  "live-restore": true
}
